.card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    min-width: 200px;
    max-height: 150px;
    margin: 20px auto;
  }
  
  .card-show {
    transform: rotateY(180deg);
  }

  .card-finished {
    transform: rotateY(180deg);
    cursor: default;
  }
  
  .card::after {
    content: "";
    position: absolute;
    inset: 0; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    background-image: url("../../img/back.jpg");
    border: solid 2px black;
    border-radius: 5px;
    transform: rotateY(0deg);
    backface-visibility: hidden;
  }
