.count-steps-overlay {
    position: fixed; 
    top: 20px; 
    right: 20px; 
    background-color: rgba(255, 255, 255, 0.8); 
    color: black; 
    padding: 10px 20px; 
    border-radius: 5px; 
    font-size: 15px; 
    font-weight: bold; 
    z-index: 1000; 
    text-align: center; 
}

.back-to-home-overlay {
    position: absolute;
    top: 20px;       
    left: 20px;     
    padding: 5px;
    z-index: 10;     
}

.back-to-home-button {
    color: white;
    background-color: rgb(0, 0, 0);

    padding: 10px 20px; 
    border-radius: 5px; 
    font-size: 15px; 
    font-weight: bold; 
    z-index: 1000; 
    display: block;

    text-decoration: none;

    transition: all 0.3s ease;
}

.back-to-home-button:hover {
    background-color: #4f4f4f;
}

