
.button {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;

    width: 200px;
    height: 50px;

    border: solid 2px black;
    background-color: white;
    color: black;
    border-radius: 50px;

    transition: all 0.3s ease;
}

.button:hover{
    background-color: #ffd400;
}

.modal {
    background-image: url("../img/main-background.jpg");
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;

    overflow-y: hidden;
    overscroll-behavior: contain;
    pointer-events: auto;
    animation: fadeIn 0.3s 1.6s both;

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modal-box {
    position: relative;
    width: 500px;
    padding: 30px;
    background-color: white;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
}

.modal-caption {
    margin-bottom: 30px;
    font-size: 30px;
}

.modal-description {
    margin-bottom: 30px;
    font-size: 15px;
}

.modal {
    background-image: url("../img/main-background.jpg");
}
